.matchDiv {
    border-radius: 25px;
    justify-content: center;
    margin: auto;
}
#quarterheader {
    font-size: 22px;
    color: white;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 5px;
}
.teams__match {
    display: inline-flex;
}
.team {
    padding: 7px 17px 12px 17px;
    text-align: center;
}
.teamlogo {
    height: 48px;
    width: 48px;
    display: inline-block;
    text-align: center;
    padding: 15px;
}
