@import "../../assets/palette.scss";

#logo {
    width: 85px;
    height: 85px;
    margin: 10px;
    margin-left: 35px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 12.5%;
    background-color: $color1;
    width: 100%;
    position: sticky;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
    align-items: center;
}


.boxes {
    justify-content: center;
}

#nav {
    color: $color2;
    font-weight: bold;
    font-size: 24px;
    height: 100%;
    padding: 15px;
    text-decoration: none;
}

#nav:hover {
    background-color: rgba(0, 70, 99, 1);
}